@model MegaMind.Models.UserModel

<form asp-action="AddOrEdit">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="State"></label>
        <select asp-for="State" class="form-control">
            <option value="Gujarat">Gujarat</option>
            <option value="Maharashtra">Maharashtra</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <select asp-for="City" class="form-control"></select>
    </div>
    <div class="form-group form-check">
        <input asp-for="Agree" class="form-check-input" type="checkbox" />
        <label asp-for="Agree" class="form-check-label">Agree</label>
    </div>
    <button type="submit" class="btn btn-primary" id="submitButton" disabled>Submit</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</form>